

body {
font-family: 'Roboto Slab', serif;
  min-height: 100vh;
  background-color: #537A8D;

}

h1 {
  color: #222b30;
 font-size: 8rem;
 margin-bottom: 0;
}

h2 {
  color: #222b30;
  font-size: 1.75rem;
}
