

body {
  color: #F4F4F9;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background-color: #537A8D;

}

h1 {
  color: #222b30;
 font-family: 'Lora', serif;
 font-size: 8rem;
 margin-bottom: 0;
}

h2 {
  color: #222b30;
  font-size: 1.75rem;
  font-family: 'Lora', serif;
 margin-top: -1.75rem;
 margin-bottom: 2rem;
}

 .card h2 {
  color: #F4F4F9;
}

footer {
  margin-top: auto;
}

.card {
  word-wrap:  normal;
}
