

body {
  color: #F4F4F9;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(88,111,124,1) 35%, rgba(0,212,255,1) 100%);

}

h1 {
  color: #2F4550;
 font-family: 'Lora', serif;
 font-size: 8rem;
 margin-bottom: 0;
}

h2 {
  color: #586F7C;
  font-size: 1.75rem;
  font-family: 'Lora', serif;
 margin-top: -1.75rem;
 margin-bottom: 2rem;
}

 .card h2 {
  color: #F4F4F9;
}

footer {
  margin-top: auto;
}

.card {
  word-wrap:  normal;
}
